doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title
    link(href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css")
    script(src="js/bootstrap.min.js")
    script(src="//code.jquery.com/jquery-1.11.1.min.js")
    link(rel="stylesheet" href="../login.css" type="text/css")
    link(href="bootstrap/css/bootstrap.min.css" rel="stylesheet")

    <!-- Custom styles for this template -->
    link(href="simple-sidebar.css" rel="stylesheet")
<!-- Bootstrap core CSS -->
    link(href="../navbar.css" rel="stylesheet")

<!-- Custom styles for this template -->
    link(href="../navbarfooter.css" rel="stylesheet")
    body
    #wrapper
      // Sidebar
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
            a(href='/') OnionBank
          li
            a(href='/deposit') Deposit
          li
            a(href='/withdraw') Withdraw
          li
            a(href='/fundTransfer') Fundtransfer
          li
            a(href='/eload') E-Load
          li
            a(href='/billsPayment') Bills Payment
          li
            a(href='/logout') Logout
          li
            a(href='#') Contact
      // /#sidebar-wrapper
      // Page Content
      #page-content-wrapper
        .container-fluid
        code 
           a#menu-toggle.btn.btn-secondary(href='#menu-toggle') Show Services

        != messages('message', locals)
        block content
          


block footer

  // /#page-content-wrapper
// /#wrapper
// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
// Menu Toggle Script
script.
  $("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
  });
 
          

script(src="/isNumber.js")                
script(src="/axios.min.js")
script(src="/vue.js")
    